<form action="/result" method="POST">
  <h1>Enter the text you would like to see in reverse</h1>
  <input type="text" name="text_to_reverse"><br />
  <input type="submit" value="Submit"><br />
</form>